body {

    font-family: "Lato", sans-serif;
   
    margin: 0;
   
    padding: 0;
   
   }
   
   .helpnav {
   
    background-color: rgba(232, 231, 231, 0.463);
   
    display: flex;
   
    justify-content: right;
   
    padding: 10px 10em;
   
    height: 1em;
   
   }
   
   .helpnav a {
   
    font-size: 16px;
   
    text-decoration: none;
   
    color: rgb(104, 103, 103);
   
    font-weight: 100;
   
    margin-right: 2em;
   
    margin-top: -1px;
   
   }
   
   .mainlogo img {
   
    width: 15em;
   
    margin-left: -4em;
   
   }
   
   .abovenav {
   
    margin: auto;
   
    display: flex;
   
    align-items: center;
   
    justify-content: space-evenly;
   
    padding: 22px 25px;
   
   }
   
   .form {
   
    border: 1px solid rgb(32, 32, 32);
   
    border-radius: 3px;
   
   }
   
   .form input {
   
    border: none;
   
    font-size: 14px;
   
    line-height: 1.4;
   
    font-weight: 100;
   
    font-size: 16px;
   
    height: 40px;
   
    color: #070707;
   
    padding-left: 10px;
   
    width: 27em;
   
   }
   
   .form input :focus {
   
    outline: none;
   
   }
   
   .form button {
   
    line-height: normal;
   
    vertical-align: baseline;
   
    height: 40px;
   
    margin-right: 1em;
   
    font-size: larger;
   
    background-color: transparent;
   
    border: none;
   
   }
   
   .btn {
   
    display: flex;
   
    align-items: center;
   
   }
   
   .btn button {
   
    border: none;
   
    background-color: transparent;
   
    text-align: center;
   
    margin: auto;
   
    cursor: pointer;
   
    margin-left: 70px;
   
    font-size: large;
   
    font-weight: 100;
   
   }
   
   .btn button:nth-child(2) {
   
    margin-right: -3em;
   
   }
   
   .btn img {
   
    width: 25px;
   
   }
   
   .nav {
   
    margin-top: -3px;
   
   }
   
   .nav ul {
   
    display: flex;
   
    list-style: none;
   
    justify-content: space-around;
   
    padding-left: 10em;
   
    padding-right: 32em;
   
   }
   
   .nav a {
   
    text-decoration: none;
   
    font-weight: 100;
   
    font-size: 1.7ch;
   
    color: rgba(0, 0, 0, 0.701);
   
   }
   
   .belownav {
   
    background-color: rgba(214, 213, 213, 0.325);
   
    height: 4em;
   
   }
   
   
   
   .belownav ul {
   
    display: flex;
   
    list-style: none;
   
    justify-content: space-around;
   
    padding-left: 20em;
   
    padding-right: 20em;
   
   }
   
   .belownav a {
   
    text-decoration: none;
   
    color: #070707;
   
    font-weight: 400;
   
   }
   
   .nav li:hover {
   
    background-color: #06050bdc;
   
   }
   
   .belownav img {
   
    width: 2em;
   
    padding-top: 1em;
   
    justify-content: center;
   
    align-items: center;
   
   }
   
   .latenight {
   
    background-color: #06050bdc;
   
    line-height: 3em;
   
    height: 3em;
   
    margin-left: 11em;
   
    margin-right: 11em;
   
    color: white;
   
    cursor: pointer;
   
   }
   
   .latenight:hover {
   
    background-color: white;
   
    color: #06050bdc;
   
   }
   
   .latenight p {
   
    font-size: 1.5em;
   
    text-align: center;
   
   }
   
   .shopby {
   
    text-align: center;
   
    margin-top: 2em;
   
    font-size: 2.5em;
   
   }
   
   .shopbycategory {
   
    display: flex;
   
    justify-content: center;
   
    gap: 2em;
   
   }
   
   .trending{
   
    text-align: center;
   
    margin-top: 2em;
   
    font-size: 2.5em;
   
   }
   
   .trendingoffers {
   
    display: grid;
   
    top: 0;
   
    bottom: 0;
   
    left: 0;
   
    right: 0;
   
    margin: auto;
   
    width: 83%;
   
    grid-template-columns: repeat(3, 1fr);
   
    justify-content: space-around;
   
    justify-items: center;
   
    align-content: space-around;
   
    align-items: center;
   
   }
   
   .card {
   
    display: flex;
   
    flex-direction: column;
   
    align-items: center;
   
    width: 30em;
   
    margin-bottom: 1.5em;
   
   }
   
   .card img {
   
    width: 30em;
   
    border-radius: 50%;
   
   }
   
   .card p{
   
    font-size: larger;
   
   }
   
   .card span {
   
    margin-top: -.5em;
   
    color: rgb(52, 51, 51);
   
    font-size: medium;
   
    font-weight: 90;
   
    text-align: center;
   
   }
   
   .card button{
   
    border: 1.5px solid rgba(87, 86, 86, 0.837);
   
    background-color: transparent;
   
    padding: 1em;
   
    font-size: medium;
   
    margin-top: 1em;
   
   }
   
   .skin p{
   
    text-align: center;
   
    margin-top: 2em;
   
    font-size: 2.5em;
   
    margin: 0;
   
   }
   
   .skin span{
   
    text-align: center;
   
    font-size: small;
   
    color: gray;
   
   }